<% if current_user.id == @profile.user_id %>
<h1>Welcome, <%= current_user.profile.user_name %>!</h1>

<% else %>

<h1><%= @profile.user_name %>'s Profile</h1>

<% end %>

<h2>this one will have user avatar, recent HiCoo's and comments</h2>
