
<div class="splash-header">
  <h1>Hi-Coo</h1>
</div>
<div class="splash-body">
  <h1 class="splash-line-1">Like pigeons on street</h1>
  <h1 class="splash-line-2">Tell the world your every thought</h1>
  <h1 class="splash-line-3">It must be Hi-coo</h1>
  <br>
  <h2><%= link_to 'Enter', home_index_path %></h2>
</div>
