@import "bootstrap-sprockets";
@import "bootstrap";

// Layout/navbar styles

#navbar-collapse-1{
  background-color: white;
  padding-bottom: .1%;
  border-bottom: 1px ridge red;
  box-shadow: 2px 5px 2px #c9c9c9;
}

.form-inline{
  padding-top: 4%;
}

.headline {
  margin-bottom: -5%;
  font-size: 2em;
  text-align: center;
  font-family: 'Ceviche One', cursive;
  a {
    color: red;
  }
}


// Image styles- non page specific

.round-image-50{
  margin-right: 2%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-30{
  margin-right: 2%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

// General/misc styles not page specific

body {
  background-color: #a5a4a4;
}

.right {
  float: right;
}
.left {
  float: left;
}

.well {
  margin-left: -4%;
  margin-right: -4%;
  background-color: white;
  margin-bottom: -.2%;
}

// Splash page styles

.splash-header {
  background-image: url('red-hicoo.jpg');
  background-size: cover;
  min-height: 350px;
  margin-top: .25%;
  margin-left: -6%;
  margin-right: -6%;
  h1 {
    font-family: 'Ceviche One', cursive;
    color: #c9c9c9;
    font-size: 10em;
    padding-top: 2%;
    float: right;
    padding-right: 8%;
  }
}

.splash-body {
  min-height: 900px;
  background-color: black;
  color: #c9c9c9;
  margin-left: -6%;
  margin-right: -6%;
  padding: 3%;
  text-align: center;
  h1 {
    font-family: 'Hammersmith One', sans-serif;
  }
  h2 {
    font-size: 7em;
    font-family: 'Ceviche One', cursive;
  }
  a {
    color: #8e8e8e;
  }
}

// Home index page styles

.panel-profile {
  position: static;
}

.pro-heading {
  height: 120px;
}

.panel {
  .panel-heading{
    background-color: red;
  }
}

.panel-profile-img{
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: -67px;
  float: left;
}

.main-page-post-header{
  background-color: #e0e0e0;
}

.mini-coo-box {
  text-align: center;
  display: inline-block;
  padding-left: 20%;
}

.mini-list-nav{
  text-align: center;
  li {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.mini-list-pro{
  text-align: center;
  li {
    padding-left: 5%;
    padding-right: 5%;
  }
}

// Profile show page styles

.profile-banner {
  position: relative;
  img {
  }
}

.profile-pic{
  margin-right: 2%;
  background-color: white;
  border: 3px solid #525354;
  display: inline-block;
  position: relative;
  top: -100px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  img {
    width: auto;
  height: 100%;
  margin-left: -50px;
  }
}
.profile-cover {
  width: 1300px;
  margin-left: -6%;
}
.profile-box {
  background-color: white;
  margin-top: 1%;
  border-left: 1px solid gray;
  text-align: center;
  padding: 1.5%;
  .inner {
    background-color: #d0d3d8;
    padding: 3%;
    margin-left: 4%;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
}
.profile-coo {
  padding-top: 1%;
  padding-right: 3%;
}




// Form/ajax styles
#new_hicoo {
  display: none;
}

#new_comment_form {
  display: none;
}
