@import "bootstrap-sprockets";
@import "bootstrap";

.round-image-50{
  margin-right: 2%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-30{
  margin-right: 2%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}
.front_img {
  margin-left: 29%;
  padding-top: 5%;
}

.main-page-post-header{
  background-color: #e0e0e0;

}

.headline {
  margin-bottom: -5.5%;
  color: red;
  font-size: 2em;
  text-align: center;
  font-family: 'Ceviche One', cursive;
}

body {
  background-color: #e2e2e2;
}

#navbar-collapse-1{
  background-color: white;
  padding-bottom: .1%;
  border-bottom: 1px ridge red;
  box-shadow: 2px 5px 2px #c9c9c9;
}

.right {
  float: right;
}

.left {
  float: left;
}

.well {
  margin-left: -4%;
  margin-right: -4%;
  background-color: white;
  margin-bottom: -.2%;

  // min-height: 200px;
  // h2{
  //   padding-left: 5%;
  // }
}


.panel-profile {
  position: static;
}

.pro-heading {
  height: 120px;
}
.panel {
  .panel-heading{
    background-color: red;
  }
}
.panel-profile-img{
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: -67px;
  float: left;
}


.mini-coo-box {
  text-align: center;
  display: inline-block;
  padding-left: 20%;
}

.mini-list-nav{
  text-align: center;
  li {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.mini-list-pro{
  text-align: center;
  li {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.profile-box {
  margin-top: 1%;
  border-left: 1px solid gray;
  text-align: center;
  .inner {
    background-color: #d0d3d8;
    padding: 3%;
    margin-left: 6%;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
}
.profile-coo {
  padding-top: 5%;
  padding-right: 3%;
}


#new_hicoo {
  display: none;
}
