@import "bootstrap-sprockets";
@import "bootstrap";

.round-image-50{
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.front_img {
  margin-left: 29%;
  padding-top: 5%;
}

.headline {
  margin-bottom: -4.5%;
  color: red;
  font-size: 5em;
  text-align: center;
  font-family: 'Ceviche One', cursive;
}

body {
  background-color: #babbbc;
}

#navbar-collapse-1{
  padding-bottom: .5%;
  border-bottom: 1px ridge red;
  box-shadow: 2px 5px 2px #9d9ea0;
}

.right {
  float: right;
}
